* {
	margin: 0;
	padding: 0;
	background-color: #03076e;
	font-family: "Press Start 2P", system-ui;
	text-decoration: none;
	color: white;
}

html,
body {
	height: 100%;
}

.navbar {
	padding: 1rem;
	text-align: center;
	position: relative;
}

.navbar ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.navbar ul li {
	display: inline;
	margin: 0 1rem;
	position: relative;
}

.navbar ul li a {
	color: #fff;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

/* Dropdown Button */
.dropbtn {
	color: white;
	padding: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.home-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("images/top-header.png");
	background-position: center;
	background-repeat: no-repeat;
	margin: 1rem;
	border: 4px solid black;
	z-index: 50;
	padding: 1rem;
}

.coin {
	margin-right: 10px;
	max-width: 3%;
	z-index: 100;
	background-color: transparent;
}

.header {
	color: rgb(243, 232, 232);
	text-shadow: -2px -4px 0 #000, 2px -4px 0 #000, -2px 4px 0 #000,
		2px 4px 0 #000;
	background-color: transparent;
	z-index: 100;
}

.home-title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	padding: 10px;
}

.home-title,
.home-title-emp {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.home-title {
	font-size: 4vw;
	color: #82a6c2;
}

.home-title-emp {
	font-size: 5vw;
	font-weight: bold;
	background: linear-gradient(to top, #fff176, #fdd835, #ffb300);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.home-paragraph {
	text-align: center;
	margin-top: 2rem;
	color: white;
    line-height: 1.5;
}

.start {
	margin-top: 2rem;
	background-color: #FACC15;
	padding: 1vw;
	cursor: pointer;
}

.content-container {
    padding: 2rem;
    color: #f1f1f1;
    background-image: url("images/circuit-board.gif");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px rgba(13, 126, 236, 0.5);
}

.lesson-section {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid #0d7eec;
    border-radius: 8px;
}

.lesson-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #0d7eec;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.lesson-text,
.lesson-list-element,
strong {
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: "Verdana", sans-serif;
    list-style-type: none;
}

code {
    background-color: #f1f1f1;
    color: #333;
    padding: 2px 4px;
    font-family: "Verdana", sans-serif;
    border-radius: 4px;
}

.code-example {
    background-color: #060488;
    color: white;
    padding: 20px;
    border: 2px solid #268bd2; 
    font-family: "Courier", monospace; 
    font-size: 1.2rem;
    line-height: 1.5; 
    white-space: pre-wrap; 
}

.code-example code {
	color: #839496;
}

.code-example .tag {
	color: #268bd2; 
}

.code-example .attribute {
	color: #b58900;
}

/* Build */
.build-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.editor {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.left, .right {
    flex-basis: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.editor label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1vw;
	margin-top: 1vw;
}

textarea {
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    border: 0;
    outline: 0;
    font-size: 0.7rem;
    padding: 15px 15px;
    color: white;
    resize: none;
}

iframe {
    width: 100%;
    height: 100%; 
    background: white;
    border: 0;
    outline: 0;
}


/* Community */

.community-container {
	display: flex;
	height: 100vh;
	max-width: 900px;
}

.sideBarOption {
	font-size: 0.8vw;
	display: flex;
	align-items: center;
	cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.sideBarOption,
i {
	padding: 1vw;
}

.sideBarOption h2:hover {
    color: rgb(170, 163, 163);
}

.sideBarOption.active i,
.sideBarOption.active h2 {
    color: #add8e6;
}
.sidebar {
	flex: 0.2;
	min-width: 26vw;
	margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.feed {
	flex: 0.5;
	min-width: fit-content;
    min-height: fit-content;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.feed_header {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	padding: 15px 20px;
}

.feed_header h2 {
	font-size: 20px;
	font-weight: 800;
	color: white;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.postBox {
	padding-bottom: 10px;
	padding-right: 10px;
}

.postBox form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.postBox_input {
	display: flex;
	padding: 20px;
	flex: 1;
}

.postBox_input input {
	flex: 1;
	margin-left: 20px;
	font-size: 20px;
	outline: none;
	color: white;
	padding: 1vw;
}

.postBox_button {
	background-color: #2cbaff;
	border: none;
	color: white;
	font-weight: 900;
	border-radius: 30px;
	width: 8vw;
	height: 4vw;
	margin-left: auto;
    cursor: pointer;
}

.post_avatar img {
	border-radius: 50px;
	height: 40px;
}

.post {
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid #22293a;
	padding-bottom: 10px;
}

.post_body img {
	width: 30vw;
}

.post_footer {
	display: flex;
	margin-top: 10px;
}

.post_headerSpecial {
	font-weight: 600;
	font-size: 12px;
	color: gray;
    
}

.post_headerText {
	font-size: 15px;
	margin-bottom: 5px;
}

.post_headerDescription {
    margin-top: 8px;
	margin-bottom: 20px;
	font-size: 15px;
    max-width: 35vw;
}

.description {
    font-size: 10px;
    margin-top:0.8vw;
    line-height: 1.8;
    max-width: 32vw;
    color: rgb(216, 213, 213);
}

.post_body {
	flex: 1;
	padding: 10px;
}

.post_avatar {
	padding: 20px;
}

.widget-container {
	max-width: 800px;
	margin-left: 8vw;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.widget-container h1 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 2rem;
	color: rgb(202, 198, 198);
}

.section {
	margin-bottom: 40px;
	padding: 10px;
}

.section h2 {
	font-size: 1.5rem;
	color: #3f51b5;
	margin-bottom: 20px;
	border-bottom: 2px solid #3f51b5;
	padding-bottom: 10px;
}

.event {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	padding: 12px;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.event .date {
	background-color: #3f51b5;
	padding: 8px 12px;
	border-radius: 5px;
	margin-right: 20px;
	font-weight: bold;
    line-height: 1.4;
    text-align: center;
}


.details {
    line-height: 1.4;
}

.event .details {
	flex-grow: 1;
	color: rgb(223, 222, 222);
}

.follow-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.follow-section .person {
	text-align: center;
	width: 30%;
}

.follow-section .person img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 10px;
	border: 2px solid #3f51b5;
	padding: 2px;
}

.follow-section .person div {
	color: rgb(223, 222, 222);
	font-weight: bold;
}

.heart {
    color: red;
    font-size: 1.2rem;
}

.fa-user-plus {
    color: #1E9CED
}

.notif-description {
    color: grey;
    font-size: 0.8rem
}

@media (min-width: 1600px) {
	.sidebar {
		margin-left: 6vw;
	}
}

/* Join Club */
.pricing {
    width: 100%;
    max-width: 980px;
    padding: 5rem 0.875rem;
    margin: 0 auto;
}

.pricing-top {
    text-align: center;
}

.pricing-top h1 {
    margin-top: -2vw;
    margin-bottom: 1rem;
    letter-spacing: 0.3rem;
}

.pricing-top p {
    margin: 0 8rem;
    opacity: 0.7;
}

.pricing-items {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.pricing-item {
    padding: 2rem;
    line-height: 1.4rem;
    border: 4px solid white;
}

.pricing-item h3 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

.pricingItem-price {
    padding: 2rem 0;
    font-weight: bold;
}

.pricingItem-price .price {
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

.pricingItem-price .dollar {
    font-size: 2rem;
    vertical-align: top;
}

.pricingItem-price .period {
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.pricingItem-info {
    list-style: none;
    color: gray;
    padding-bottom: 2rem;
}

.pricingItem-info li {
    margin-bottom: 0.3rem;
}

.pricing-item button {
    background-color: gray;
    outline: none;
    border: none;
    padding: 1rem;
    width: 13vw;
    color: #fff;
}

.pricing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-item button:hover {
    background-color: rgb(100, 98, 98);
    cursor: pointer;
}

.club-member {
    border-color: gold;
}

.life {
  border-image: linear-gradient(to right, blue, red) 1;
}

/* Login */

.login-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 58vh;
    padding-top: 5vh;
	margin-top: 5vw;
}

.form {
    width: 38vw;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginForm input {
	padding-left: 5px;
}

.heading {
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 4vw;
    background: transparent;
}

.input-group {
    width: 100%;
    margin-bottom: 3rem;
    background: transparent;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    background: transparent;
}

.input-group input {
    width: 100%;
	padding: 0.75rem 0;
    border: none;
    font-size: 1rem;
}

.btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #2CBAFF;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #1E9CED;
}

.welcome-screen {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
    font-size: 2vw;
    z-index: 9999;
	text-align: center;
	margin-top: 3vw;
}

.welcome-screen h2 {
    margin-bottom: 2vw;
}

.dots {
    font-size: 32px;
    margin-top: 10px;
}

.dot {
    opacity: 0;
    animation: dot-blink 1.5s infinite step-start;
    display: inline;
    margin: 0 5px;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.5s;
}

.dot:nth-child(3) {
    animation-delay: 1s;
}

/* Animation for dots */
@keyframes dot-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}